@mixin fWeight($font-weight: 400) {
    font-weight: $font-weight;
}

@mixin dimension($width: 400px, $height: 190px) {
    width: $width;
    height: $height;
}

@mixin float($float: left) {
    float: $float;
}

@mixin lHeight($line-height: 0em) {
    line-height: $line-height;
}

@mixin  clearfix {
    &:before, &:after {
        content: '';
        display: table;
    } 
    &:after {
        clear: both;
    }
}


@mixin mQuery($length) {
    @media (max-width: $length) {
        @content;
    }
}

