
//FONTS
$body-font: 'Roboto';

//COLORS
$white:      #fff;
$peach:      #E65C43;
$coral:      #F25C43;
$grey:       #666;
$light-blue: #F5F6F6;
$dark-blue:  #30353D;

//IMAGE PATHS
$body-image:    url(../images/bg.gif);
$figure-image:  url(../images/logo.png);
$social-image:  url(../images/social-media.png);

